@import "../../assets/styles/variables.scss";

.main-payment {
    font-family: $font-roboto;
    font-size: 14px;
    padding: 2rem 1rem;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-height: fit-content;
    .payment-methods {
        margin-top: 2rem;
        .method {
            display: flex;
            padding: 15px;
            justify-content: space-between;
            align-items: center;
            border-radius: 10px;
            margin-bottom: 10px;
            .card-info {
                display: flex;
                gap: 10px;
            }
        }
        .chosen {
            border: 1px solid $main-yellow;
        }
    }
    .payment-redirection {
        text-align: center;
    }
}