@import "../../assets/styles/variables.scss";

.order-total {
    margin: 2rem 0;
    .total-price {
        display: flex;
        justify-content: space-between;
        padding: 5px 0;
        span {
            display: flex;
            gap: 5px;
        }
    }
    .total {
            padding-top: 15px;
            span {
                font-size: 20px;
            }
        }
}