.container-home{
    padding: 20px;

    &__localizacion{
        display: flex;
        flex-direction: row;
        gap: 5px;

        &-img{
            display: flex;
            justify-content: center;
        }

        &-direccion{
            display: flex;
            flex-direction: column;
        }
    }
}

.container-filtro{
    display: flex;
    align-items: center;
    gap: 4px;
    justify-content: space-around;

    &-item{
        background-color: rgb(224, 221, 221);
        width: 140px;
        height: 40px;
        border-radius: 5px;
        text-align: center;
        padding: 7px 0;
        display: flex;
        justify-content: space-evenly;
    }
}