.container-plato{
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;

    img{
        width: 400px;
        height: 280px;
        object-fit: cover;
        border-radius: 8px;
    }
   
}