@import "../../assets/styles/variables.scss";

.accepted-main {
    font-family: $font-roboto;
    font-size: 14px;
    padding: 2rem 1rem;
    color: $dark-grey;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
    max-height: fit-content;
    .image-accepted {
        width: 80%;
        margin: 2rem 10%;
    }
}