.containerr {
    padding: 4px;
    .swiperContainer {
        .swiper-slide {
            width: 280px !important;
            height: 100px;
            display: 90px !important;
            align-items: center;
            justify-content: center;
            text-align: center;
            overflow: hidden;
            padding: 8px 0;
            img {
                width: auto;
                height: 100%;
                border-radius: 7px;
                object-fit: cover;
            }
        }
    }
}