@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

$main-yellow: #FFE031;
$light-grey: rgba(242, 242, 242, 1);
$dark-grey: #414141;
$green: #77DF52;
$red: #DF5252;
$grey: rgba(204, 204, 204, 1);
$font-roboto: 'Roboto', sans-serif;
